{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'images/icon.png' %}" alt="" height="35px" width="fit-content"> myShopKart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active"  id="nav_d" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
          {% if request.user.is_authenticated %}
          <a class="nav-link" id="nav_d">  <i class="fa fa-user"></i> {{request.user}}</a>
          <a class="nav-link" href="{% url 'logout' %}" id="nav_d"><i class="fas fa-sign-in-alt"></i> Logout</a>
          {% else %}
          <a class="nav-link"  id="nav_d" href="{% url 'reg' %}"><i class="fa fa-user"></i> Register</a>
          <a class="nav-link"  id="nav_d" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
          {% endif %}
          <a class="nav-link" id="nav_d"  href="{% url 'collections' %}"><i class="fa fa-cubes"></i> Collections</a>
          <a class="nav-link"  id="nav_d" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a>
          <a class="nav-link"  id="nav_d" href="{% url 'favviewpage' %}"><i class="fa fa-heart"></i> Favourites</a>
          <a class="nav-link"  id="nav_d" href="{% url 'searchPage' %}"><i class="fa fa-search"></i> Search Products</a>

          
        </div>
      </div>
    </div>
  </nav>